@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tipografía y color global */
body {
  @apply bg-gray-50 text-gray-900 antialiased font-sans;
}

/* Mejor legibilidad de código o textos monoespaciados */
code {
  @apply font-mono text-indigo-600;
}

/* Transiciones suaves en toda la app */
* {
  @apply transition-colors duration-200;
}